<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
	<a class="navbar-brand" href="{{path('home')}}">Time to run...<i class="fas fa-running"></i>
	</a>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('home')}}">
					<i class="fas fa-home"></i>
					- Accueil
				</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('outings_index')}}">
						<i class="fas fa-running"></i>
						- Vos sorties 
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-smile"></i>
						{{app.user.firstName}}
						{{app.user.lastName}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('logout')}}">
						<i class="fas fa-sign-out-alt"></i>
						- Déconnexion
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('login')}}">
						<i class="fas fa-sign-in-alt"></i>
						- Connexion
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert alert-{{label}}">
			{% for message in messages %}
				<p>{{message | raw}}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
